node_modules/
frontend/node_modules/
frontend/dist
.env
.env.development
.env.production
backend/node_modules/
backend/dist/
.env.*.local
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
npm-debug.log*
dist/
build/
.vercel/
.netlify/
node_modules/
.env
*.sqlite
npm-debug.log
